@model Part1ex.Models.Calculations

<div class="buttons" style="margin-top:2rem; display:flex; gap:1rem; flex-wrap:wrap;">

	<a class="btn btn-primary" href="@Url.Action("Dashboard","Home")"> Dashboard </a>
	<a class="btn btn-primary" href="@Url.Action("Claims_Dashboard","Home")"> View claims </a>
</div>

<div class="card-container">
	<br/>

	<h1 class="dashboard-heading-run">Welcome to make a claim</h1>




	<h1 class="dashboard-heading-run">Make a claim</h1>

<!--here we make sure that the data entered by the user is entered into the following inputs-->


<form action="Claims" method="post" enctype="multipart/form-data">

	<label>
		Enter Hours Worked : <input type="number" name="HoursWorked"   placeholder="Enter Hours Worked" required />
		</label>

	<br />
<label> 
		Enter Hourly Rate : <input type="number" name="HourlyRate"  placeholder="Enter Hourly Rate" required/>
	</label>

	<br />

	<br />
	<div class="buttons">
	<button type="submit" class="btn btn-primary">Submit claim</button>
	</div>

	<br />

	<div class="Totalclaims">
	@if (Model.TotalAmount > 0)

	{

		<h3 class="run">Your total claims are : @Model.TotalAmount</h3>
	}
		</div>

	<br />

	<label>Supporting Documents :
		<input type="file" name="uploadFile" id="uploadedFile" />
	</label>
		@if (TempData["UploadMessage"] != null)
		{
			<div class="alert alert-success">@TempData["UploadMessage"]</div>
		}

	

</form>


<!---We then upolad the supporting documents here-->


	
</div>