@model List<Part1ex.Models.Calculations>

<div class="container"
	>
	<h2 class="dashboard-heading">Welcome ,@ViewBag.UserName! to the Coordinators Dashboard</h2>


@if (TempData["Message"] != null)
{
		<div class="alert alert-success">@TempData["Message"]</div>
}

<p>This is the Program coordinators Dashboard.</p>

<br />


	<div class="buttons" style="margin-top:2rem; display:flex; gap:1rem; flex-wrap:wrap;">
		<a class="btn btn-primary" href="@Url.Action("ViewClaims","Home")">View Submitted Claims</a>

	</div>

</div>

