<h1>Welcome to the Dashboard</h1>


<div class="buttons">

	<a href="@Url.Action("Claims","Home")" class="btn btn-primary"> Make a claim</a>
	<a href="@Url.Action("Claims_Dashboard","Home")" class="btn btn-secondary"> View claims </a>


	<p>
		<a href="@Url.Action("Index","Home")" class="btn btn-outline-secondary">Back to login page</a>
	</p>

	</div>
