@{
    ViewData["Title"] = "Home Page";
}
<div class="card-container">

    <div class="icon-header">
        <img src="~/resources/profile_user.png" alt="user" class="user-icon" />
       </div>
    <h1 class="dashboard-heading-mini">Welcome to the login page</h1>


    <!--take in the user information using a form-->
<!--the action form will redirectyou to the dashboard as indicated-->
   @if (TempData["LoginError"] != null)
    {
        <div class="alert alert-error">@TempData["LoginError"]</div>
    }
     


    <form method="post" action="@Url.Action("Login","Home")">

    

    <label> Please enter your email :
    <input type="email" name="Email" placeholder="enter email" required /><!--This one has to be required for part2-->
    </label>

    <label> Please enter your password :
    <input type="Password" name="Password" placeholder="enter password" required /><!--This one has to be required for part 2-->
    </label>

    
    <br />
    <div class="buttons">
    <button type="Submit" class="btn btn-primary" >Login</button>
        </div>

        <label class="mini">
            Dont have an account ?
            <a href=@Url.Action("Register","Home")> Register Here. </a>
        </label>
    <br/>
       
      
    <!--Error messege if the users details dont match any records-->
    
</form>
    



    


</div>