<div class="card-container">

	<div class="icon-header">
		<img src="~/resources/profile_user.png" alt="user" class="user-icon" />
	</div>


	<h1 class="dashboard-heading-mini">Welcome to the Register</h1>
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success">@TempData["SuccessMessage"]</div>
	}


<form method="post" action="@Url.Action("Register","Home")">
	<label> Please enter your name :
	<input type="text"name="name" placeholder="enter your name"/>
	</label>


		<label>
			Enter your Email :
			<input type="email" name="Email" placeholder="enter your email" />
		</label>


		<label>
			Enter Your password :
			<input type="password" name="Password" placeholder="enter password"  />
		</label>

	

	<br />


	<br />
		<div class="buttons">
			<button type="submit" class="btn btn-primary"> Register </button>
		</div>

		<label class="mini">
			Have an account?
			<a href=@Url.Action("Index","Home")> Login here. </a>
		</label>

</form>
</div>