<h1>Welcome to the Register</h1>

<form method="post" action="@Url.Action("Register","Home")">
	<p> Please enter your name :
	<input type="text"name="name" placeholder="enter your name"/>
	</p>
	<p> Select your role :
		<select name="Role" required>
				<option value="">Select Role</option>
				<option value="Lecturer">Lecturer</option>
				<option value="Program Coordinator">Program Coordinator</option>
				<option value="Program Manager">Program  Manager</option>
		</select>
		</p>

<p>Enter your Email :
	<input type="email" name="Email" placeholder="enter your email" required/>
	</p>
	<br />

	<p>Enter Your password :
	<input type="password" name="Password" placeholder="enter password" required />
	</p>

	<br />
	<input type="submit" value="Register" />
	<p>
		Have an account?
		<a href=@Url.Action("Index","Home")>Login here</a>
	</p>
</form>